*.pt filter=lfs diff=lfs merge=lfs -text
.model\DeltaFLOODM9.pt filter=lfs diff=lfs merge=lfs -text
.model\flood segment_model_.pt filter=lfs diff=lfs merge=lfs -text
static/vedio/13644386_2560_1440_30fps.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
